body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    font-weight: 400;
}
.content{
    padding:30px;
    margin:15px auto 0;
    border:1px solid #eee;
    border-radius: 15px;
    width: 500px;
}
